node_modules/
target/
_out/
gen/
app/router/webapp/
app/webapp/dist/

.cdsrc-private.json
default-*.json
*.sqlite
*.sqlite-wal
*.sqlite-shm

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Other
.DS_Store
docs/btp-troubleshooting-log.md

# @cap-js/cds-typer
@cds-models
